body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.side-menu{
  background-color: rgb(133, 184, 174) !important;
}
.navbar-menu{
  background-color: rgb(80, 139, 228) !important;
}
.side-menu-footer{
  background-color: rgb(145, 195, 238) !important;
}
